body {
  font-family: 'Muli';
  font-size: 14px;
}
h3{
  background-color: rgba(200, 240, 255, 0.8);
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}
